<style>
	#iStock-wrapper { border: 1px solid #E7E7E7; display: none; padding: 20px 20px 10px 20px; margin: 10px 0px 10px 0px; }
	#iStock-wrapper h2 { font-size:20px; margin: 0 0 10px 0; }
	#iStock-notifyTxt { margin-bottom:10px; }
	#iStock-availability { display:none; margin-bottom:10px; }
	#iStock-availability label { color: #6F0000; font-weight: normal; }
	#iStock-availability span { color: #6D6D6D; }
	#iStock-fields { max-width: 480px;}
	#iStock-email-id { display: inline-block; vertical-align: top; border: 1px solid #CCCCCC; background: #ffffff; padding: 7px; margin: 0 2% 10px 0; width: 60%; }
	#iStock-notify-btn { display: inline-block; vertical-align: top; padding: 12px; margin: 0 0 10px 0; cursor: pointer; }
	#iStock-msg { display:none; color: #008000; font-size: 14px; }
	#iStock-msg.iStock-error { color: #E10101; }
  @media screen and (min-width:591px) and (max-width:1024px) {
    #iStock-email-id {width:100%;}  
  }
  @media screen and (max-width:480px) {
    #iStock-email-id {width:100%;}  
  }
</style>


<div id="iStock-wrapper" style="display:none;">
	<p id="iStock-notifyTxt">Nous vous tiendrons au courant lorsque ce produit sera de nouveau disponible</p>
	<div id="iStock-availability" style="display:none">
		<label>Il sera disponible : </label>
		<span></span>
	</div>
	<div id="iStock-fields">
		<input type="text" id="iStock-email-id" name="iStock-email-id" placeholder="Adresse e-mail" value="{% if customer %}{{ customer.email }}{% endif %}" />
		<input type="hidden" id="iStock-product" name="iStock-product" value="{{ product.title | escape }}" />
		<input type="button" id="iStock-notify-btn" value="Me prévenir" class="btn"/>
	</div>
	<div id="iStock-msg"></div>
</div>
<script type="text/javascript">
	var iStockShop = "{{ shop.permanent_domain }}";
	var iStockProductId = {{ product.id }};
	var iStockVariants = {{ product.variants | json }};
</script>
<script src="https://istock.shopapps.in/front/iStock-notify.php?shop={{ shop.permanent_domain }}"></script>
