<!-- Caroussel Slider -->
<!-- Small device -->
<div class="product-single__photos">
  {% assign featured_image = current_variant.featured_image | default: product.featured_image %} {% comment %} Display current variant image, or default first {% endcomment %}
  <div class="product-single__photo-wrapper">
    <img class="product-single__photo" id="ProductPhotoImg" src="{{ featured_image | img_url: 'grande' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}" {% endif %} alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}">
  </div>
  {% comment %} Display rest of product images, not repeating the featured one {% endcomment %} {% for image in product.images %} {% unless image contains featured_image %}
  <div class="product-single__photo-wrapper">
    <img class="product-single__photo" src="{{ image.src | img_url: 'grande' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}" {% endif %} alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}">
  </div>
  {% endunless %} {% endfor %}
</div>

<div class="product-photos-thumbnails">
  <div class="product-photo-thumb">
    <img src="{{ featured_image | img_url: '80x80', crop: 'center' }}" alt="{{ featured_image.alt | escape }}">
  </div>
  {% comment %} Display rest of product images, not repeating the featured one {% endcomment %} 
  {% for image in product.images %} 
  {% unless image contains featured_image %}
  <div class="product-photo-thumb">
    <img src="{{ image.src | img_url: '80x80', crop: 'center' }}" alt="{{ image.alt | escape }}">
  </div>
  {% endunless %} 
  {% endfor %}
</div>