<!-- /templates/product.slider-composition.liquid -->
<div class="product-v2">
        <div itemscope itemtype="http://schema.org/Product">
                <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
                <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}"> {% assign current_variant = product.selected_or_first_available_variant %}
                <div class="grid product-single">
                        <!-- Product Title -->
                                    <div class="">
                                            <h1 class="product-single__title" itemprop="name">{{ product.title }}</h1>
                                            <h2 style="font-weight: 400; padding-bottom: 20px;">{{ product.metafields.global.title_tag }}</h2>
                                    </div>

                        {% include 'slider' %}
                        {% include 'product-box' %}
                        <!-- Product description  -->
                                <div class="product-single__description rte" itemprop="description" style="margin-top: 0px;">
                                        <br>
                                        <br>
                                        <!-- icone-line -->
                                                <div class="container text-center" id="icone-line">
                                                        <hr class="hr--clear">
                                                        {% for tag in product.tags %}
                                                                    <img src="//cdn.shopify.com/s/files/1/1063/7402/files/{{ tag | handleize | capitalize | replace: '-', '_' }}_100x100.png?" alt="{{tag}}" data-toggle="tooltip" data-placement="top" data-original-title="{{ tag }}">

                                                        {% endfor %}
                                                </div>
                                        <hr class="hr--clear">
                                        <!-- product-special-description -->
                                                            <div class="container" id="product-special-description">
                                                                    <div class="row">
                                                                            <h2 class="text-center">Le conseil du paysagiste</h2>
                                                                            <div class="col-md-3 img-fluid offset-lg-1 col-xs-12">
                                                                                    <img src="//cdn.shopify.com/s/files/1/1063/7402/files/Arthur_185x185.png?" alt="Arthur Paysagiste" style="border-radius: 50%; -webkit-filter: grayscale(100%); filter: grayscale(100%);">
                                                                            </div>
                                                                            <div class="col-md-7 col-xs-12">
                                                                                    <p class="text-left">{{ product.description }}</p>
                                                                                    <p class="text-right"> Arthur. </p>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                        <hr class="hr--clear">
                                        <!-- What you're buying -->
                                        <div class="container text-center" id="composition">
                                                <h2> Ce que vous achetez</h2>
		                                                <!-- plante -->
	                                                    <div class="row" id="plante">
	                                                                <div class="col-lg-8 text-left">
	                                                                        <h3 class="text-left">{{ product.metafields.c_f.plantenom }} </h3>
	                                                                        <p> {{ product.metafields.c_f.plantedesc }} </p>
	                                                                </div>
	                                                                <div class="col-lg-4">
	                                                                	{% comment %}Put the second image of the product {% endcomment %}
	                                                                        <img src="{{ product.images[1] | product_img_url: 'medium' }}" alt="{{ product.title }}" width="200" height="200">

	                                                                </div>
	                                                    </div>
                                                 
                                                    {% if product.type == 'Plante & Pot' %}
														{% if product.metafields.c_f.potnom %}
	                                                        <!-- Pot -->
	                                                        <div class="row" id="pot">
	                                                        	{% comment %}Put the third image of the product {% endcomment %}
	                                                            <div class="col-lg-4 small--hide">
	                                                                <img src="{{ product.images[2] | product_img_url: 'large' }}" alt="{{ product.title }}" width="200" height="200">
	                                                            </div>
	                                                            <div class="col-lg-8 text-left">
	                                                                <h3 class="text-left">{{ product.metafields.c_f.potnom }} </h3>
	                                                                <p> {{ product.metafields.c_f.potdesc }} </p>
	                                                            </div>
	                                                            <div class="col-lg-4 large--hide medium--hide">
	                                                                <img src="{{ product.images[2] | product_img_url: 'large' }}" alt="{{ product.title }}" width="200" height="200">
	                                                            </div>
	                                                        </div>
                                                        {% endif %}
                                                    {% endif %}
                                        </div>
                                </div>
                </div>

                <!-- Social Sharing -->
                                {% if settings.social_sharing_products %} {% include 'social-sharing' %}
                                {% endif %}


                {% include 'customers-images' %}

                {% include 'related-products' %}
                    {% comment %}

                        *IMPORTANT:*
                        This theme uses a customized version of `option_selection.js` to support using radio inputs for
                        color and size variants. The custom version is in `variant_selection.js`.

                        If you wish to enable the default dropdowns for size and color
                        you can change the liquid asset tag below from:

                        {{ 'variant_selection.js' | asset_url | script_tag }}

                        to

                        {{ 'option_selection.js' | shopify_asset_url | script_tag }}

                        If you use the default `option_selection.js` the labels for the dropdowns will
                        appear outside the dropdown.

                        You will also need to change `.radio-wrapper` to `.selector-wrapper` below.

                    {% endcomment %}
                        {{ 'option_selection.js' | shopify_asset_url | script_tag }}


                    <script>
                        var selectCallback = function(variant, selector) {
                            timber.productPage({
                                money_format: "{{ shop.money_format }}",
                                variant: variant,
                                selector: selector
                            });
                        };

                        jQuery(function($) {
                            new Shopify.OptionSelectors('ProductSelect', {
                                product: {{ product | json }},
                                onVariantSelected: selectCallback,
                                enableHistoryState: true
                            });

                            // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
                            {% if product.options.size == 1 and product.options.first != 'Title' %}
                                $('.selector-wrapper:eq(0)').prepend('<label for="ProductSelect-option-0" class="single-option-radio__label">{{ product.options.first | escape }}</label>');
                            {% endif %}

                            // Hide drop-down selectors if we only have 1 variant and its title contains 'Default'.
                            {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                $('.selector-wrapper').hide();
                            {% endif %}
                        });
                    </script>

                    <script>
                                 jQuery(document).ready(function($) {
                                    $('.carousel').carousel({
                                            interval: 8000
                                    });

                                    //Handles the carousel thumbnails
                                    $('[id^=carousel-selector-]').click(function() {
                                            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
                                            var id = parseInt(id);
                                            $('#slider-products-v2').carousel(id);
                                    });

                                    });
                </script>

        </div>
</div>
